.container {
  /*   text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.today {
  margin: 15px;
}

.city {
  font-weight: 400;
  font-size: 24px;
  color: rgb(113, 114, 112);
  margin-top: 20px;
  margin-left: 20px;
}

.cards-list {
  display: inline-flex;
}

.next-days {
  margin-top: 20px;
}
